{# @prop side 'top'|'right'|'bottom'|'left' The preferred side to display the tooltip. Defaults to `top` #}
{# @prop sideOffset number The distance in pixels from the trigger. Defaults to `0` #}
{# @block content The tooltip text or content #}
{%- props side = 'top', sideOffset = 0 -%}

<div
    id="{{ _tooltip_wrapper_id }}"
    data-slot="tooltip-wrapper"
    data-side="{{ side }}"
    data-side-offset="{{ sideOffset }}"
    data-tooltip-target="wrapper"
    data-state="closed"
    role="presentation"
    class="isolate"
>
    <div
        class="{{ ('relative bg-foreground text-background w-fit max-w-xs rounded-md px-3 py-1.5 text-xs shadow-md transition-opacity duration-150 ' ~ attributes.render('class'))|tailwind_merge }}"
        {{ attributes.defaults({
            id: _tooltip_content_id,
            role: 'tooltip',
            'data-slot': 'tooltip-content',
            'data-side': side,
            'data-state': 'closed',
            'data-tooltip-target': 'content',
        }) }}
    >
        {%- block content %}{% endblock -%}

        <div
            id="{{ _tooltip_arrow_id }}"
            data-side="{{ side }}"
            data-tooltip-target="arrow"
            aria-hidden="true"
            class="oq-floating-arrow bg-foreground absolute size-2.5 rotate-45 rounded-[2px]"
        ></div>
    </div>
</div>
